<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainLayout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<div layout:fragment="content">
    <div class="container">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 th:if="!${itemFormDto?.id}" class="m-0 font-weight-bold text-primary">상품 등록</h6>
                <h6 th:if="${itemFormDto?.id}" class="m-0 font-weight-bold text-primary">상품 수정</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <form id="listFrm" name="listFrm">
                                    <input type="hidden" name="size" value="9">
                                </form>
                                <form id="itemFrm" name="itemFrm" action="/admin/items/create" method="POST" enctype="multipart/form-data" th:object="${itemFormDto}">
                                    <table class="table table-bordered dataTable">
                                        <colgroup>
                                            <col style="width: 30%;">
                                            <col style="width: auto;">
                                        </colgroup>
                                        <tr th:if="${itemFormDto?.id}">
                                            <th scope="col">번호</th>
                                            <td th:text="${itemFormDto.id}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="col">상품명</th>
                                            <td>
                                                <input type="text" th:field="*{title}" class="form-control">
                                                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="filedError">Incorrect data</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="col">설명</th>
                                            <td>
                                                <textarea th:field="*{summary}" class="form-control"></textarea>
                                                <p th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}" class="filedError">Incorrect data</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="col">가격</th>
                                            <td>
                                                <input type="text" th:field="*{price}" class="form-control">
                                                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="filedError">Incorrect data</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="col">재고</th>
                                            <td>
                                                <input type="text" th:field="*{stock}" class="form-control">
                                                <p th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="filedError">Incorrect data</p>
                                            </td>
                                        <tr th:if="${itemFormDto?.id}">
                                            <th scope="col">구매수량</th>
                                            <td th:text="${itemFormDto.purchaseCnt}"></td>
                                        </tr>
                                        </tr>
                                        <tr th:each="imageFile, index : ${itemFormDto.imageFileDtoList}">
                                            <th scope="col" th:text="'사진(' + ${index.count} + ')'"></th>
                                            <td th:id="'imageFile_' + ${imageFile.getId()}">
                                                <img th:src="${imageFile.getImageUrl()}" style="width: 400px; height: 400px;">
                                                <a th:text="${imageFile.getOriginalImageName()}"></a>
                                                <div class="btn-group" role="group" aria-label="Default button group">
                                                    <button type="button" class="btn btn-danger" th:onclick="deleteFile([[${imageFile.getId()}]])">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg>
                                                        삭제
                                                    </button>
                                                    <button type="button" class="btn btn-facebook" th:onclick="downloadFile([[${imageFile.getSavedFileName()}]])">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                                        </svg>
                                                        다운로드
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr th:if="${not #lists.isEmpty(itemFormDto.imageFileDtoList) && itemFormDto.imageFileDtoList.size() < 3}" th:each="num, index : ${#numbers.sequence(itemFormDto.imageFileDtoList.size() + 1, 3)}">
                                            <th scope="col" th:text="'사진(' + ${itemFormDto.getImageFileDtoList().size() + index.count} + ')'"></th>
                                            <td>
                                                <input type="file" name="itemImageFile" class="form-control">
                                            </td>
                                        </tr>
                                        <th:block th:if="${#lists.isEmpty(itemFormDto.imageFileDtoList)}">
                                        <tr>
                                            <th scope="col">사진(1)</th>
                                            <td>
                                                <input type="file" name="itemImageFile" class="form-control">
                                                <span th:text="${errorMessage}" class="filedError"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="col">사진(2)</th>
                                            <td>
                                                <input type="file" name="itemImageFile" class="form-control">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="col">사진(3)</th>
                                            <td>
                                                <input type="file" name="itemImageFile" class="form-control">
                                            </td>
                                        </tr>
                                        </th:block>
                                    </table>
                                    <div class="row">
                                        <div class="input-group col-sm-12 col-md-6">
                                            <button th:if="!${itemFormDto?.id}" type="button" class="btn btn-secondary" onclick="goList()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                                                </svg>
                                                목록
                                            </button>
                                            <button th:if="!${itemFormDto?.id}" type="submit" class="btn btn-facebook">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                                </svg>
                                                등록
                                            </button>
                                            <button th:if="${itemFormDto?.id}" id="cancelBtn" type="button" class="btn btn-warning" onclick="goCancel()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                </svg>
                                                취소
                                            </button>
                                            <button id="deleteBtn" th:if="${itemFormDto?.title}" type="button" class="btn btn-danger" onclick="goDelete()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                                삭제
                                            </button>
                                            <button id="updateBtn" th:if="${itemFormDto?.title}" type="button" class="btn btn-facebook" onclick="goUpdate()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                </svg>
                                                수정
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

<script th:inline="javascript">
    /*<![CDATA[*/
    const itemId = [[${itemFormDto.id}]];

    function goList(){
        window.location.href = '/items';
    }

    function goCancel(){
        window.history.go(-1);
    }

    function goDelete(){
        if (confirm('상품을 삭제하시겠습니까?')) {
            document.itemFrm.method = "POST";
            document.itemFrm.action = "/admin/items/" + itemId + "/delete";
            document.itemFrm.submit();
        }
    }

    function goUpdate(){
        if (confirm('상품을 수정하시겠습니까?')) {
            document.itemFrm.method = "POST";
            document.itemFrm.action = "/admin/items/" + itemId + "/update";
            document.itemFrm.submit();
        }
    }

    function downloadFile(savedFileName){
        let realFileName = savedFileName.substring(savedFileName.lastIndexOf('_') + 1);
        if (confirm(realFileName + '을(를) 다운로드 하시겠습니까?')) {
            let a = document.createElement('a');
            a.setAttribute('href', '/com/file/download?savedFileName=' + savedFileName);
            a.click();
        }
    }

    function deleteFile(imageFileId){
        if (confirm('이미지 첨부파일을 삭제하시겠습니까? 삭제하신 후 되돌리실 수 없습니다.')) {
            let url = 'http://localhost:8080/admin/imageFiles/' + imageFileId + '/delete';
            fetch(url, {
                method: 'DELETE'
            }).then(response => {
                if(response.status == 200){
                    let imageFileTd = document.getElementById('imageFile_' + imageFileId);
                    imageFileTd.innerText = '';
                    let inputTypeFile = '<input type="file" name="itemImageFile" class="form-control">';
                    imageFileTd.innerHTML = inputTypeFile;
                }else{
                    alert('오류가 발생했습니다. 관리자에게 문의하세요.');
                    window.location.reload();
                }
            });
        }
    }
    /*]]>*/
</script>