<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
  <meta charset="UTF-8">
  <title>상품 목록 : 매일 신선한 커피점</title>
</head>
<div layout:fragment="content">

    <div class="container">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">상품 목록</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <form name="listFrm" id="listFrm">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="col-sm-12 col-md-6">
                                    <div class="input-group mt-2 mb-5">
                                        <span class="input-group-text">카테고리</span>
                                        <select id="searchCategory1" name="searchCategory1" class="custom-select form-control">
                                            <option value="ALL">모든 음료</option>
                                            <option value="COLD_BREW" th:selected="${searchDto.searchCategory1 != null && searchDto.searchCategory1.key == 'COLD_BREW'}">콜드 브루 커피</option>
                                            <option value="BROOD" th:selected="${searchDto.searchCategory1 != null && searchDto.searchCategory1.key == 'BROOD'}">브루드 커피</option>
                                            <option value="ESPRESSO" th:selected="${searchDto.searchCategory1 != null && searchDto.searchCategory1.key == 'ESPRESSO'}">에스프레소</option>
                                            <option value="FRAPPUCCINO" th:selected="${searchDto.searchCategory1 != null && searchDto.searchCategory1.key == 'FRAPPUCCINO'}">프라푸치노</option>
                                            <option value="REFRESHER" th:selected="${searchDto.searchCategory1 != null && searchDto.searchCategory1.key == 'REFRESHER'}">리프레셔</option>
                                            <option value="TEA" th:selected="${searchDto.searchCategory1 != null && searchDto.searchCategory1.key == 'TEA'}">티</option>
                                            <option value="BOTTLED" th:selected="${searchDto.searchCategory1 != null && searchDto.searchCategory1.key == 'BOTTLED'}">병음료</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input-group mt-2 mb-5">
                                    <select id="searchType" name="searchType" class="custom-select form-control">
                                        <option value="">전체</option>
                                        <option value="title" th:selected="${searchDto.searchType == 'title'}">상품명</option>
                                        <option value="summary" th:selected="${searchDto.searchType == 'summary'}">설명</option>
                                    </select>
                                    <input type="search" id="searchKeyword" name="searchKeyword" class="form-control w-50" placeholder="" th:value="${searchDto.searchKeyword}">
                                    <button class="btn btn-facebook">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                        검색
                                    </button>
                                </div>
                            </div>
                        </div>
                        </form>
                        <div class="row">
                            <th:block th:each="item, status: ${itemPage}">
                                <div class="col-md-4 margin">
                                    <div class="card" style="margin-bottom: 15px;">
                                        <a th:href="'/items/' +${item.id}" class="text-dark" style="text-decoration: none;">
                                            <img th:if="${not #lists.isEmpty(item.imageFileFormDtoList)}" th:src="${item.imageFileFormDtoList.get(0).getImageUrl()}" class="card-img-top" th:alt="${item.title}" height="300">
                                            <img th:if="${#lists.isEmpty(item.imageFileFormDtoList)}" src="/images/no_img.jpg" class="card-img-top" th:alt="${item.title}" height="300">
                                            <div class="card-body">
                                                <h4 class="card-title">[[${item.title}]]</h4>
                                                <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                    [[${item.summary}]]
                                                </div>
                                                <h3 class="text-danger">[[${item.price}]]원</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <th:block th:if="${itemPage?.isEmpty()}">
                        <div class="row mt-5 mb-5" style="text-align: center;">
                            <h5>검색결과가 없습니다.</h5>
                        </div>
                        </th:block>
                        <div class="row">
                            <div class="col-sm-12 col-md-2">
                                <button type="button" id="createBtn" class="btn btn-facebook" sec:authorize="hasRole('ROLE_ADMIN')" th:onclick="goCreate()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                    </svg>
                                    상품 등록
                                </button>
                            </div>
                        </div>
                        <div class="row mt-5" th:if="not ${itemPage?.isEmpty()}">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination" th:with="start=${T(java.lang.Math).floor(itemPage.number/10)*10 + 1},last=(${start + 9 < itemPage.totalPages ? start + 9 : itemPage.totalPages})">
                                    <li th:class="${itemPage.first} ? 'paginate_button page-item disabled' : 'paginate_button page-item'">
                                        <a class="page-link" th:href="@{/items(page=${itemPage.number})}" aria-label="이전">
                                            <span aria-hidden="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                                  <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                                </svg>
                                                이전
                                            </span>
                                        </a>
                                    </li>
                                    <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == itemPage.number + 1} ? 'paginate_button page-item active' : 'paginate_button page-item'">
                                        <a class="page-link" th:text="${page}" th:href="@{/items(page=${page})}"></a>
                                    </li>
                                    <li th:class="${itemPage.last} ? 'paginate_button page-item disabled' : 'paginate_button page-item'">
                                        <a class="page-link" th:href="@{/items(page=${itemPage.number + 2})}" aria-label="다음">
                                            <span aria-hidden="true">
                                                다음
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                                  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                                </svg>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

<script>
  function goCreate(){
    window.location.href = '/admin/items/create';
  }

  function goSearch(){
      document.listFrm.action = '/items';
      document.listFrm.method = 'GET';
      document.listFrm.submit();
  }

  document.getElementById('searchCategory1').onchange = function(){
      document.listFrm.action = '/items';
      document.listFrm.method = 'GET';
      document.listFrm.submit();
  }

</script>