<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 목록 : 매일 신선한 커피점</title>
</head>
<div layout:fragment="content">
  <div class="container">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">공지사항 목록</h6>
      </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered dataTable">
                    <colgroup>
                      <col style="width: 7%">
                      <col style="width: 47%">
                      <col style="width: 15%">
                      <col style="width: 10%">
                      <col style="width: 20%">
                    </colgroup>
                    <thead>
                    <tr>
                      <th scope="col" style="text-align: center">ID</th>
                      <th scope="col" style="text-align: center">제목</th>
                      <th scope="col" style="text-align: center">글쓴이</th>
                      <th scope="col" style="text-align: center">조회수</th>
                      <th scope="col" style="text-align: center">작성일시</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr th:each="boardItem : ${resultList}">
                        <td th:text="${boardItem.id}" style="text-align: center"></td>
                        <td style="text-align: center">
                          <a th:text="${boardItem.title}" th:href="@{/boards/{id}(id = ${boardItem.id})}"></a>
                        </td>
                        <td th:text="${boardItem.writer}"></td>
                        <td th:text="${boardItem.view}"></td>
                        <td th:text="${#temporals.format(boardItem.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col-sm-12 col-md-2">
                      <button type="button" id="createBtn" class="btn btn-facebook" sec:authorize="hasRole('ROLE_ADMIN')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                        공지사항 등록
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="dataTables_paginate paging_simple_numbers">
                      <ul class="pagination" th:with="start=${T(java.lang.Math).floor(resultList.number/10)*10 + 1},last=(${start + 9 < resultList.totalPages ? start + 9 : resultList.totalPages})">
                        <li th:class="${resultList.first} ? 'paginate_button page-item disabled' : 'paginate_button page-item'">
                          <a class="page-link" th:href="@{/boards(page=${resultList.number})}" aria-label="이전">
                            <span aria-hidden="true">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                              </svg>
                              이전
                            </span>
                          </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == resultList.number + 1} ? 'paginate_button page-item active' : 'paginate_button page-item'">
                          <a class="page-link" th:text="${page}" th:href="@{/boards(page=${page})}"></a>
                        </li>
                        <li th:class="${resultList.last} ? 'paginate_button page-item disabled' : 'paginate_button page-item'">
                          <a class="page-link" th:href="@{/boards(page=${resultList.number + 2})}" aria-label="다음">
                            <span aria-hidden="true">
                              다음
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                              </svg>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</html>

<script>
  document.getElementById("createBtn").onclick = function() {
    window.location.href = "/admin/boards/create";
  };
</script>