<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
  <div class="container">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">이벤트</h6>
      </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered dataTable">
                    <colgroup>
                      <col style="width: 7%">
                      <col style="width: 47%">
                      <col style="width: 15%">
                      <col style="width: 10%">
                      <col style="width: 20%">
                    </colgroup>
                    <thead>
                    <tr>
                      <th scope="col">글 번호</th>
                      <th scope="col">글 제목</th>
                      <th scope="col">작성자</th>
                      <th scope="col">조회수</th>
                      <th scope="col">작성일시</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr th:each="boardItem : ${boardList}">
                        <td th:text="${boardItem.id}"></td>
                        <td>
                          <a th:text="${boardItem.title}" th:href="@{/boards/{id}(id = ${boardItem.id})}"></a>
                        </td>
                        <td th:text="${boardItem.writer}"></td>
                        <td th:text="${boardItem.view}"></td>
                        <td th:text="${#temporals.format(boardItem.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col-sm-12 col-md-2">
                      <button type="button" id="createBtn" class="btn btn-facebook" sec:authorize="hasRole('ROLE_ADMIN')">등록</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="dataTables_paginate paging_simple_numbers">
                      <ul class="pagination" th:with="start=${T(java.lang.Math).floor(boardList.number/10)*10 + 1},last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">
                        <li th:class="${boardList.first} ? 'paginate_button page-item disabled' : 'paginate_button page-item'">
                          <a class="page-link" th:href="@{/boards(page=${boardList.number})}" aria-label="Previous">
                            <span aria-hidden="true">이전</span>
                          </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boardList.number + 1} ? 'paginate_button page-item active' : 'paginate_button page-item'">
                          <a class="page-link" th:text="${page}" th:href="@{/boards(page=${page})}"></a>
                        </li>
                        <li th:class="${boardList.last} ? 'paginate_button page-item disabled' : 'paginate_button page-item'">
                          <a class="page-link" th:href="@{/boards(page=${boardList.number + 2})}" aria-label="Next">
                            <span aria-hidden="true">다음</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</html>

<script>
  document.getElementById("createBtn").onclick = function() {
    window.location.href = "/admin/boards/create";
  };
</script>