<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
  <meta charset="UTF-8">
  <title>마이페이지 : 매일 신선한 커피점</title>
</head>
<div layout:fragment="content">
<div class="container">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">마이페이지</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="card-subtitle py-3">
                            <h6 class="m-0 font-weight-bold text-primary">· 회원정보</h6>
                        </div>
                        <div class="col-sm-12">
                            <form id="memberFrm" name="memberFrm" th:object="${memberDto}">
                            </form>
                            <table class="table table-bordered dataTable">
                                <colgroup>
                                    <col style="width: 30%;">
                                    <col style="width: auto;">
                                </colgroup>
                                <tr>
                                    <th scope="col">번호</th>
                                    <td th:text="${memberDto.id}"></td>
                                </tr>
                                <tr>
                                    <th scope="col">이메일</th>
                                    <td th:text="${memberDto.email}"></td>
                                </tr>
                                <tr>
                                    <th scope="col">이름</th>
                                    <td th:text="${memberDto.name}"></td>
                                </tr>
                                <tr>
                                    <th scope="col">핸드폰 번호</th>
                                    <td th:text="${memberDto.phone}"></td>
                                </tr>
                                <tr>
                                    <th scope="col">성별</th>
                                    <td th:text="${memberDto.gender}"></td>
                                </tr>
                                <tr>
                                    <th scope="col">회원구분</th>
                                    <td th:if="${#strings.equals(memberDto.role, 'ADMIN')}">관리자</td>
                                    <td th:if="${#strings.equals(memberDto.role, 'USER')}">일반</td>
                                    <td th:if="${#strings.equals(memberDto.role, 'SMALL_BUSINESS')}">소상공인</td>
                                </tr>
                                <tr>
                                    <th scope="col">포인트</th>
                                    <td>
                                        <div class="input-group col-sm-12 col-md-6">
                                            <input name="memberPoint" id="memberPoint" class="form-control" th:value="${memberDto.point}" disabled>
                                        </div>
                                        <div class="input-group col-sm-12 col-md-6">
                                            <input type="number" name="point" id="point" class="form-control" value="0">
                                            <button sec:authorize="isAuthenticated()" class="btn btn-facebook" onclick="addPoint();">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                                </svg>
                                                입금
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="row">
                                <div class="input-group col-sm-12 col-md-6">
                                    <a sec:authorize="isAuthenticated()" href="/members/logout" class="btn btn-danger">로그아웃</a>
                                    <button sec:authorize="isAuthenticated()" id="updateBtn" type="button" class="btn btn-facebook" onclick="goUpdate();">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                        회원정보 수정
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div id="cartDiv"></div>
                            </div>
                            <div class="row">
                                <div id="paymentDiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

<script th:inline="javascript">
    const memberId = [[${memberDto.id}]];
    let isFunctionAddPointRunning = false;

    window.onload = function (){
        getCartItemList();
        getPaymentList();
    }

    function goUpdate() {
        document.memberFrm.method = 'GET';
        document.memberFrm.action = '/members/' + memberId + '/update';
        document.memberFrm.submit();
    }

    function getCartItemList(){
        let url = 'http://localhost:8080/cart/items';
        fetch(url)
            .then((response) => response.text())
            .then((result) => document.getElementById('cartDiv').innerHTML = (result))
    }

    function getPaymentList(){
        let url = 'http://localhost:8080/paymentList';
        fetch(url)
            .then((response) => response.text())
            .then((result) => document.getElementById('paymentDiv').innerHTML = (result))
    }

    function updateCartItem(cartItemId){
        if (confirm('장바구니 상품을 수정하시겠습니까?')){
            let url = 'http://localhost:8080/api/cart/items/' + cartItemId + '/update';
            fetch(url, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    count: document.getElementById('count').value
                }),
            })
                .then((response) => {
                    if(response.ok){
                        let promise = response.json();
                        promise.then(promise => alert(promise.msg));
                        getCartItemList();
                    }else if (response.status == 400){
                        let promise = response.json();
                        promise.then(promise => alert(promise.count));
                    }else{
                        alert('장바구니 상품 수정 중 오류가 발생했습니다.');
                    }
                })
        }
    }

    function deleteCartItem(cartItemId){
        if (confirm('장바구니 상품을 취소하시겠습니까?')){
            let url = 'http://localhost:8080/api/cart/items/' + cartItemId + '/delete';
            fetch(url, {
                method: 'DELETE',
            })
                .then((response) => {
                    if(response.status == 200){
                        let promise = response.json();
                        promise.then(promise => alert(promise.msg));
                        getCartItemList();
                    }else{
                        alert('장바구니 상품 삭제 중 오류가 발생했습니다.');
                    }
                })
        }
    }

    function addPoint(){
        if (confirm('입금하시겠습니까?')){
            if (isFunctionAddPointRunning == true){
                return;
            }

            isFunctionAddPointRunning = true;

            let url = 'http://localhost:8080/api/payment/addPoint';
            fetch(url, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    point : document.getElementById('point').value
                }),
            })
                .then((response) => {
                    if(response.ok){
                        let promise = response.json();
                        promise.then(promise => alert(promise.msg));
                        window.location.reload();
                    }else if (response.status == 400){
                        let promise = response.json();
                        promise.then(promise => alert(promise.point));
                        isFunctionAddPointRunning = false;
                    }else{
                        alert('입금 중 오류가 발생했습니다.');
                        isFunctionAddPointRunning = false;
                    }
                });
        }
    }

    function confirmCartItemPurchase(){
        if (confirm('구매확정을 하시겠습니까?')){
            let url = 'http://localhost:8080/api/payment/confirmCartItemPurchase';

            let itemNameArray = document.getElementsByClassName('itemName');
            let itemNames = '';

            for (let i=0; i<itemNameArray.length; i++){
                itemNames += itemNameArray[i].innerText;
                if (i != (itemNameArray.length-1))
                    itemNames += ',';
            }

            fetch(url, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    itemNames: itemNames,
                    totalUsePoint : document.getElementById('totalUsePoint').innerText
                }),
            })
                .then((response) => {
                    if(response.status == 200){
                        let promise = response.json();
                        promise.then(promise => alert(promise.msg));
                        window.location.reload();
                    }else{
                        alert('구매 확정 중 오류가 발생했습니다.');
                    }
                })
        }
    }

</script>