<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
  <meta charset="UTF-8">
  <title>회원정보 관리 : 매일 신선한 커피점</title>
</head>
<div layout:fragment="content">
<div class="container">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">회원정보 수정</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="memberFrm" name="memberFrm" th:object="${memberUpdateDto}">
                            <table class="table table-bordered dataTable">
                                <colgroup>
                                    <col style="width: 30%;">
                                    <col style="width: auto;">
                                </colgroup>
                                <tr>
                                    <th scope="col">번호</th>
                                    <td th:text="${memberUpdateDto.id}"></td>
                                </tr>
                                <tr>
                                    <th scope="col">이메일</th>
                                    <td>
                                        <input type="hidden" name="email" th:value="${memberUpdateDto.email}">
                                        <span th:text="${memberUpdateDto.email}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">비밀번호</th>
                                    <td>
                                        <input type="password" th:field="*{password}" class="form-control">
                                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="filedError">Incorrect data</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">비밀번호 확인</th>
                                    <td>
                                        <input type="password" name="password2" class="form-control">
                                        <p th:if="${#fields.hasErrors('passwordDoubleChecked')}" th:errors="*{passwordDoubleChecked}" class="filedError">Incorrect data</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">이름</th>
                                    <td>
                                        <input type="text" th:field="*{name}" class="form-control">
                                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="filedError">Incorrect data</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">핸드폰 번호</th>
                                    <td>
                                        <input type="text" th:field="*{phone}" class="form-control">
                                        <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="filedError">Incorrect data</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">성별</th>
                                    <td>
                                        <select th:field="*{gender}" class="form-select">
                                            <option value="M">남</option>
                                            <option value="W">여</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">회원구분</th>
                                    <td>
                                        <select th:field="*{role}" class="form-select">
                                            <option th:if="${memberUpdateDto.getRole() == '[ROLE_USER]' ? 'selected' : ''}" value="USER">소비자</option>
                                            <option th:if="${memberUpdateDto.getRole() == '[ROLE_SMALL_BUSINESS]' ? 'selected' : ''}" value="SMALL_BUSINESS">소상공인</option>
                                            <option th:if="${memberUpdateDto.getRole() == '[ROLE_ADMIN]' ? 'selected' : ''}" value="ADMIN">관리자</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            </form>
                            <div class="row">
                                <div class="input-group col-sm-12 col-md-6">
                                    <button class="btn btn-warning" onclick="goCancel();">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                        취소
                                    </button>
                                    <button class="btn btn-danger" onclick="goDelete();">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                        삭제
                                    </button>
                                    <button class="btn btn-facebook" onclick="goUpdate();">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                        수정
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</html>

<script th:inline="javascript">

    const memberId = [[${memberUpdateDto.id}]];

    function goCancel() {
        window.history.go(-1);
    }

    function goDelete() {
        document.memberFrm.method = 'POST';
        document.memberFrm.action = '/members/' + memberId + '/delete';
        document.memberFrm.submit();
    }

    function goUpdate() {
        document.memberFrm.method = 'POST';
        document.memberFrm.action = '/members/' + memberId + '/update';
        document.memberFrm.submit();
    }

</script>