<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>배송 상세 : 매일 신선한 커피점</title>
</head>
<div layout:fragment="content">
  <div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">배송 상세</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="card-subtitle py-3">
                  <h6 class="m-0 font-weight-bold text-primary">· 배송 상세</h6>
                </div>
                <div class="col-sm-12">
                  <table class="table table-bordered dataTable">
                    <colgroup>
                      <col style="width: 30%;">
                      <col style="width: auto;">
                    </colgroup>
                    <tr>
                      <th scope="col">배송번호</th>
                      <td th:text="${delivery.id}"></td>
                    </tr>
                    <tr>
                      <th scope="col">배송자</th>
                      <td th:text="${delivery.memberName}"></td>
                    </tr>
                    <tr>
                      <th scope="col">배송출발지</th>
                      <td th:text="${delivery.deliveryDepartureRoadLocation}"></td>
                    </tr>
                    <tr>
                      <th scope="col">배송도착지</th>
                      <td th:text="${delivery.deliveryDestinationRoadLocation}"></td>
                    </tr>
                    <tr>
                      <th scope="col">예상배송소요시간(분)</th>
                      <td id="content" th:utext="${((delivery.deliveryTakenTime / (1000 * 60 )) % 60 )}"></td>
                    </tr>
                    <tr>
                      <th scope="col">배송요청일시</th>
                      <td th:text="${#temporals.format(delivery.deliveryStartTime, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="card-subtitle py-3">
                  <h6 class="m-0 font-weight-bold text-primary">· 배송상품 목록</h6>
                </div>
                <div class="col-sm-12">
                  <table class="table table-bordered dataTable">
                    <colgroup>
                      <col style="width: 10%">
                      <col style="width: 15%">
                      <col style="width: auto;">
                      <col style="width: 10%">
                      <col style="width: 10%">
                      <col style="width: 15%">
                    </colgroup>
                    <thead>
                    <tr>
                      <th scope="col" style="text-align: center">상품번호</th>
                      <th scope="col" style="text-align: center">상품사진</th>
                      <th scope="col" style="text-align: center">상품명</th>
                      <th scope="col" style="text-align: center">가격</th>
                      <th scope="col" style="text-align: center">수량</th>
                      <th scope="col" style="text-align: center">배송상태</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr th:each="deliveryItem : ${delivery.getDeliveryItemList()}">
                        <td th:text="${deliveryItem.itemDto.id}" style="text-align: center"></td>
                        <td>
                          <img th:src="${deliveryItem.itemDto.imageFileDtoList.get(0).imageUrl}" style="width: 30px; height: 30px;">
                        </td>
                        <td th:text="${deliveryItem.itemDto.title}" class="text-center"></td>
                        <td th:text="${deliveryItem.itemDto.price}" class="text-center"></td>
                        <td th:text="${deliveryItem.count}" class="text-center"></td>
                        <td class="text-center">
                          <select th:id="'deliveryItemStatus_' + ${deliveryItem.id}" name="deliveryItemStatus"
                                  class="custom-select form-control"
                                  th:onfocus="updateDeliveryItemStatus([[${delivery.id}]], [[${deliveryItem.id}]])">
                            <option value="DELIVERING"
                                    th:selected="${#strings.equals(deliveryItem.deliveryItemStatus.key, 'DELIVERING')}">
                              배송중
                            </option>
                            <option value="DELIVERED"
                                    th:selected="${#strings.equals(deliveryItem.deliveryItemStatus.key, 'DELIVERED')}">
                              배송완료
                            </option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="input-group col-sm-12 col-md-6">
                  <button type="button" class="btn btn-secondary" onclick="goList();">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    목록
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</html>

<script th:inline="javascript">
  function goList(){
    window.location.href = '/admin/deliveriesMng';
  }

  function updateDeliveryItemStatus(deliveryId, deliveryItemId) {
    let selectForDeliveryItemStatus = $('#deliveryItemStatus_' + deliveryItemId);
    let preVal = selectForDeliveryItemStatus.val();

    selectForDeliveryItemStatus.on('change', function () {

      if (confirm("'배송상품 상태'를 변경하시겠습니까?")) {

        $.ajax({
          url: "http://localhost:8080/api/deliveries/" + deliveryId + "/deliveryItems/" + deliveryItemId + "/updateStatus?deliveryItemStatus=" + this.value, // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소
          method: "GET",   // HTTP 요청 메소드(GET, POST 등)
          dataType: "json", // 서버에서 보내줄 데이터의 타입
          error: function() {
            console.log('통신실패!!');
            selectForDeliveryItemStatus.val(preVal);
          },
          success: function(data) {
            if (data.status == 'ok') {
              alert(data.msg);
              goList();
            } else if (data.status == 'fail') {
              alert(data.msg);
              selectForDeliveryItemStatus.val(preVal);
            }
          }
        });

      } else {
        selectForDeliveryItemStatus.val(preVal);
      }
    });

  }

</script>