<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>배송 목록 : 매일 신선한 커피점</title>
</head>
<div layout:fragment="content">
  <div class="container">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">배송 목록</h6>
      </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered dataTable">
                    <thead>
                    <tr>
                      <th scope="col" style="text-align: center">배송번호</th>
                      <th scope="col" style="text-align: center">배송요청일시</th>
                      <th scope="col" style="text-align: center">예상배송소요시간(분)</th>
                      <th scope="col" style="text-align: center">배송상태</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr th:each="deliveryItem : ${deliveryList}">
                        <td class="text-center">
                          <a th:text="${deliveryItem.id}" th:href="@{/admin/deliveriesMng/{id}(id = ${deliveryItem.id})}"></a>
                        </td>
                        <td th:text="${#temporals.format(deliveryItem.deliveryStartTime, 'yyyy-MM-dd HH:mm:ss')}" class="text-center"></td>
                        <td th:text="${((deliveryItem.deliveryTakenTime / (1000 * 60 )) % 60 )}" class="text-center"></td>
                        <td>
                          <select th:id="'deliveryStatus_' + ${deliveryItem.id}" name="deliveryStatus" class="custom-select form-control" th:onfocus="updateDeliveryStatus([[${deliveryItem.id}]])">
                            <option value="DELIVERING" th:selected="${#strings.equals(deliveryItem.deliveryStatus.key, 'DELIVERING')}">배송중</option>
                            <option value="DELIVERED" th:selected="${#strings.equals(deliveryItem.deliveryStatus.key, 'DELIVERED')}">배송완료</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</html>

<script th:inline="javascript">
  function updateDeliveryStatus(id) {
    let preVal = $('#deliveryStatus_' + id).val();

    $('#deliveryStatus_' + id).on('change', function () {
      if (confirm('배송상태를 변경하시겠습니까?')) {
        alert('변경');
      } else {
        $('#deliveryStatus_' + id).val(preVal);
      }
    });

  }
</script>