<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
  <meta charset="UTF-8">
  <title>장바구니 : 매일 신선한 커피점</title>
</head>
<div layout:fragment="content">
  <div class="container">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">장바구니</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div class="row">
            <div class="col-sm-12">
              <div class="dataTables_wrapper dt-bootstrap4">
                <div id="cartDiv"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>

<script th:inline="javascript">

  window.onload = function (){
    getCartItemList();
  }

  function getCartItemList(){
    let url = 'http://localhost:8080/cart/itemsProc';
    fetch(url)
            .then((response) => response.text())
            .then((result) => document.getElementById('cartDiv').innerHTML = (result))
  }

  function updateCartItem(cartItemId){
    if (confirm('장바구니 상품을 수정하시겠습니까?')){
      let url = 'http://localhost:8080/api/cart/items/' + cartItemId + '/update';
      fetch(url, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          count: document.getElementById('count').value
        }),
      })
              .then((response) => {
                if(response.ok){
                  let promise = response.json();
                  promise.then(promise => alert(promise.msg));
                  getCartItemList();
                }else if (response.status == 400){
                  let promise = response.json();
                  promise.then(promise => alert(promise.count));
                }else{
                  alert('장바구니 상품 수정 중 오류가 발생했습니다.');
                }
              })
    }
  }

  function deleteCartItem(cartItemId){
    if (confirm('장바구니 상품을 취소하시겠습니까?')){
      let url = 'http://localhost:8080/api/cart/items/' + cartItemId + '/delete';
      fetch(url, {
        method: 'DELETE',
      })
              .then((response) => {
                if(response.status == 200){
                  let promise = response.json();
                  promise.then(promise => alert(promise.msg));
                  getCartItemList();
                }else{
                  alert('장바구니 상품 삭제 중 오류가 발생했습니다.');
                }
              })
    }
  }

  function confirmCartItemPurchase(){
    if (confirm('구매확정을 하시겠습니까?')){
      let url = 'http://localhost:8080/api/payment/confirmCartItemPurchase';

      let itemNameArray = document.getElementsByClassName('itemName');
      let itemNames = '';

      for (let i=0; i<itemNameArray.length; i++){
        itemNames += itemNameArray[i].innerText;
        if (i != (itemNameArray.length-1))
          itemNames += ',';
      }

      fetch(url, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          itemNames: itemNames,
          totalUsePoint : document.getElementById('totalUsePoint').innerText
        }),
      })
              .then((response) => {
                if(response.status == 200){
                  let promise = response.json();
                  promise.then(promise => alert(promise.msg));
                  window.location.reload();
                }else{
                  alert('구매 확정 중 오류가 발생했습니다.');
                }
              })
    }
  }

</script>