<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>오시는 길 : 매일 신선한 커피점</title>
</head>
<div layout:fragment="content">
    <body>
        <div class="m-auto" id="map" style="width: 800px; height: 800px;"></div>
    </body>
</div>
</html>

<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=k18d8834sg&submodules=geocoder"></script>

<script th:script="javascript">
    var latitude = '[[${storeLocation.latitude}]]';
    var longitude = '[[${storeLocation.longitude}]]';
    var roadAddress = '[[${storeLocation.roadAddress}]]';

    var shopLocation = new naver.maps.LatLng(latitude, longitude);

    var contentString = [
        '<div class="iw_inner">',
        '   <h3>매일 신선한 커피점</h3>',
        '   <p>' + roadAddress + '<br>',
        '   </p>',
        '</div>'
    ].join('');

    const map = new naver.maps.Map("map", {
        center: new naver.maps.LatLng(latitude, longitude),
        zoom: 15,
        mapTypeControl: true
    });

    const infoWindow = new naver.maps.InfoWindow({
        // anchorSkew: true
        content: contentString
    });

    map.setCursor('pointer');

    var marker = new naver.maps.Marker({
        map: map,
        position: shopLocation
    });

    naver.maps.Event.addListener(marker, "click", function(e) {
        if (infoWindow.getMap()) {
            infoWindow.close();
        } else {
            infoWindow.open(map, marker);
        }
    });

    document.onload = function (){
        marker.click();
    }
</script>