<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>영수증 목록 : 매일 신선한 커피점</title>
</head>
<div layout:fragment="content">
    <div class="container">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">영수증 목록</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="dataTables_wrapper dt-bootstrap4">
                                <div id="paymentDiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

<script th:inline="javascript">

    window.onload = function (){
        getPaymentList();
    }

    function getPaymentList(){
        let url = 'http://localhost:8080/paymentListProc';
        fetch(url)
            .then((response) => response.text())
            .then((result) => document.getElementById('paymentDiv').innerHTML = (result))
    }

</script>