<div class="card-subtitle py-3" style="margin-top: 20px;">
    <h6 class="m-0 font-weight-bold text-primary">· 영수증</h6>
</div>

<table class="table table-bordered dataTable" id="commentTable">
    <colgroup>
        <col style="width: auto;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 20%;">
    </colgroup>
    <thead>
    <tr>
        <th scope="col" style="text-align: center">구매 상품 목록</th>
        <th scope="col" style="text-align: center">총 금액</th>
        <th scope="col" style="text-align: center">적용 할인</th>
        <th scope="col" style="text-align: center">결제 금액</th>
        <th scope="col" style="text-align: center">구매일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="paymentItem : ${paymentDtoList}">
        <td th:text="${paymentItem.getItemNames()}" style="text-align: center"></td>
        <td th:text="${paymentItem.getTotalUsePoint()}"></td>
        <td th:text="${paymentItem.getDiscount()}"></td>
        <td th:text="${paymentItem.getTotalUsePoint() - paymentItem.getTotalUsePoint() * paymentItem.getDiscount()}"></td>
        <td th:text="${#temporals.format(paymentItem.getModifiedTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>
</div>